.contacts {
  padding: 59px 0 59px 121px;

  @include vp-1365 {
    padding: 183px 87px 98px;
  }
}

.contacts__title {
  margin-bottom: 41px;

  @include vp-1365 {
    letter-spacing: 2.8px;
  }
}

.contacts__content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 71px;
  max-width: 437px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background-color: #74819c;
  }

  @include vp-1365 {
    column-gap: 90px;

    &::before {
      left: 58%;
      height: 137px;
    }
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &:nth-child(2n) {
    padding-left: 36px;
  }

  @include vp-1365 {
    max-width: 218px;

    &:nth-child(2n) {
      padding-left: 48px;
    }
  }
}
