.free {
  padding: 59px 170px 59px 0;
  color: $color-default-white;
  background-color: $color-main;

  @include vp-1365 {
    padding: 20px;
  }
}

[data-lastpass-icon-root] {
  display: none;
}

.free__title {
  margin-bottom: 25px;
}

.free__wrapper {

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 27px;
    color: $color-default-white;
    background-color: $color-main;
  }
}

.free__button {
  grid-column: 1 / -1;
  max-width: none;
}

