.reviews {
  padding: 120px 0 81px;
}

.reviews__title {
  margin-bottom: 6px;
  text-align: center;
}

.reviews__slider {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 20px;
}

.reviews__wrapper {
  padding: 40px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
